

<div class="jumbotron">
  <h1 class="display-4"><%= @friend.first_name %> <%= @friend.last_name %></h1>
  <p class="lead"><strong>Email:</strong>
  <%= @friend.email %></p>
  <p class="lead">
   <strong>Phone:</strong>
   <%= @friend.phone %>
  </p>

<p class="lead">
  <strong>Twitter:</strong>
  <%= @friend.twitter %>
</p>

  <br>
  <%= link_to 'Edit', edit_friend_path(@friend), class:"btn btn-secondary" %> 
  <%= link_to 'Back', friends_path, class:"btn btn-dark" %>
  <%= link_to 'Delete', @friend, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %>
</div>






