<div class="card">
  <div class="card-header">
    <h2>Change your password</h2>
  </div>
  <div class="card-body">
    <h5 class="card-title"></h5>
    <p class="card-text">
        <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
            <br>
            <%= render "devise/shared/error_messages", resource: resource %>
            <br>
            <%= f.hidden_field :reset_password_token %>

            <div class="field form-group">
              <%= f.label :password, "New password" %><br />
              <% if @minimum_password_length %>
                <em>(<%= @minimum_password_length %> characters minimum)</em><br />
              <% end %>
              <%= f.password_field :password, autofocus: true, autocomplete: "new-password"class:"form-control", placeholder:"New Password"%>
            </div>

            <div class="field form-group">
              <%= f.label :password_confirmation, "Confirm new password" %><br />
              <%= f.password_field :password_confirmation, autocomplete: "new-password", class:"form-control", placeholder:"Confirm Password" %>
            </div>
             <br>
            <div class="actions">
              <%= f.submit "Change my password", class:'btn btn-success' %>
            </div>
        <% end %>
    </p>
    
  </div>
</div>





<br>




<%= render "devise/shared/links" %>
